.box {
  width: 400px;
  height: 200px;
  border: 5px solid paleturquoise;
  overflow: scroll;
}

.box2 {
  border: 4px solid peru;
  width: 400px;
  height: 200px;
  /* visibility: hidden; */
}

.images .logo {
  height: 100px;
  width: 100px;
}

.user {
  width: 100px;
  height: 100px;
}
